apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
patchesStrategicMerge:
  - route-backend.yaml
namePrefix: dev-
images:
- name: quay.io/fmwalker/kafd-backend
  newTag: latest
