apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
patchesStrategicMerge:
- route-backend.yaml
namePrefix: staging-
images:
- name: quay.io/fmwalker/kafd-backend
  newTag: test
